.animation(@animation) {
	animation: @animation;
	-webkit-animation: @animation;
}
.transition(@command) {
	transition: @command;
	-webkit-transition: @command;
}
.square(@size) {
	width: @size;
	height: @size;
}
.translate(@amountX, @amountY) {
	transform: translate(@amountX, @amountY);
	-webkit-transform: translate(@amountX, @amountY);
}
.button-theme(@color, @background-color) {
	color: @color;
	background-color: @background-color;
	border: 1px solid darken(@background-color, 5%);
	.transition(~"background-color @{transition-fast}, border @{transition-fast}, color @{transition-fast}");
	&:hover {
		background-color: lighten(@background-color, 5%);
		border-color: @background-color;
	}
}