@primary: #05BED5;
@secondary: #8D48AB;
@tertiary: #B2347E;
@light: #E3E7EC;
@dark: #434A54;

@white: #FFFFFF;
@black: #000000;
@light-grey: #CCD1D9;
@grey: #656D78;
@dark-grey: #434A54;

@info: #149CFD;
@error: #E01A2E;
@warning: #FFC200;
@success: #05BE55;

@gutter: 15px;


html {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 @gutter;
	color: @dark;
}

legend {
	padding: 0 @gutter;
}

.status {
	position: fixed;
	top: 0;
	right: 0;
	background-color: fade(@primary, 5%);
}

.devices {
	padding: @gutter;
	border: 1px solid @light-grey;
	ul {
		display: inline-block;
		padding-left: 0;
		li {
			list-style: none;
			cursor: pointer;
			padding: 5px;
			line-height: 100%;
			&:hover {
				background-color: fade(@primary, 5%);
			}
			&.active {
				background-color: @primary;
				color: @white;
			}
		}
	}
}
